@import "../../global.module.sass"

.textBox
  width: 50rem
  height: auto
  border-color: $black
  border-style: solid
  border-width: 0.1rem
  background-color: $white
  margin: 2rem auto
  @include phone
    width: 23rem
    margin: 1rem auto

.articleTitle
  text-align: center

.articleWriter
  font-weight: bold
  padding-left: 2rem
  @include phone
    padding-left: 1rem

.articleDetail
  padding: 2rem
  overflow-wrap: break-word
  @include phone
    padding: 1rem
